body{
	background-color: #333;
	font-family: "Courier New", Courier, monospace;
	color: #fafafa;
}
.header{
	background-color: rgb(33, 37, 43);
	border-radius: 20px;
	margin:1em;
	padding:1em;
	display:flex;
	justify-content: space-around;
	align-items: center;
}
.headerImg{
	width: 10vw; 
	margin: 1%;
}
.headerTitle{
	font-size:5vw;
	border-width: 1px;
	flex: 1 content;
	margin-left: 1em;
}
.content{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin:1vw;
	padding:1vw;
}
.errMsg{
	font-size: 2vw
}